{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  
  <h3 class="lead">{{ local }}</h3>
  
  <h1 class="display-4">{{ number }}</h1>
  <h3>{{ calculation }}</h3>
  <h3> New yourk: {{ newyourk }}</h3>
</div>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  {% for i in mybaskt %}
  {{i}} 
  <hr>
  {% endfor %}

  {{Name}}
  {{Age}}
  {{City}} 
       
</div>



{% endblock content %}
